* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Monocraft;
    src: url("../fonts/Monocraft.ttf");
}

.start {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    display: flex;
    height: 100vh;
    background: linear-gradient(#87ceeb, #e0f6ff);
    z-index: 100;
}

.start h1 {
    font-family: Monocraft;
    font-size: 4rem;
    font-weight: bold;
    color: dark;
    margin-bottom: 50px;
}
.start p {
    font-size: 1.7rem;
    font-family: Monocraft;
}
.ground,
.game-board-ground {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -13px; /* Ajustar conforme necessário */
    width: 100%; /* Para garantir que preencha toda a largura */
    animation: moveGround 5s linear infinite; /* Animação contínua */
}

.ground-img {
    width: 4rem; /* Tamanho da imagem do chão */
    flex-shrink: 0; /* Impede que as imagens encolham */
}

.marioStart {
    width: 150px;
    bottom: 50px;
    position: absolute;
    animation: start-mario-animation 2.5s infinite linear;
}

.game-board {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#87ceeb, #e0f6ff);
    overflow: hidden;
}
.game-board-ground {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -13px;
    z-index: 100000;
}

.pipe {
    position: absolute;
    bottom: 52px;
    width: 80px;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 50px;
}

.jump {
    animation: jump 500ms;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
    z-index: 10;
}

.game-over-text {
    position: absolute;
    right: 40%;
    bottom: 30%;
    width: 20rem;
    opacity: 0%;
}

.score {
    position: absolute;
    top: 2%;
    right: 5%;
    font-family: Monocraft;
    font-size: 1.8rem;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid black;
    z-index: 11;
}

.hearts {
    position: absolute;
    top: 1%;
    left: 7%;
    z-index: 11;
}
.heart {
    width: 5rem;
    margin-left: -2.3rem;
}

/* Animação para mover o chão */
.start-ground,
.game-board-ground {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -13px;
    width: 100%;
    z-index: 100;
    animation: moveGround 3s linear infinite; /* Ajuste a velocidade conforme necessário */
}

.start-ground .ground-img {
    width: 4rem;
}

@keyframes moveGround {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); /* Mover todo o chão */
    }
}

@keyframes start-mario-animation {
    from {
        right: 110%;
    }

    to {
        right: -10%;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 50px;
    }
    40% {
        bottom: 200px;
    }
    45% {
        bottom: 206px;
    }
    50% {
        bottom: 210px;
    }
    55% {
        bottom: 216px;
    }
    60% {
        bottom: 200px;
    }
    100% {
        bottom: 50px;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}
