body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas no total */
    grid-gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 60%;
    padding: 10px;
}

.key {
    background-color: #ccc;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.key.selected {
    background-color: orange;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.key.backspace-button {
    position: relative;
}

.key.backspace-button img {
    max-width: 70%; /* Ajusta o tamanho da imagem */
    max-height: 70%; /* Ajusta a altura da imagem */
    object-fit: contain; /* Garante que a imagem se mantenha proporcional */
    position: absolute; /* Posiciona a imagem dentro do botão */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a imagem para o centro */
    pointer-events: none; /* Ignora eventos de mouse na imagem */
}

.key.send-button {
    position: relative;
}

.key.send-button img {
    max-width: 70%; /* Ajusta o tamanho da imagem */
    max-height: 70%; /* Ajusta a altura da imagem */
    object-fit: contain; /* Garante que a imagem se mantenha proporcional */
    position: absolute; /* Posiciona a imagem dentro do botão */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a imagem para o centro */
    pointer-events: none; /* Ignora eventos de mouse na imagem */
}

.key.backspace-button,
.key.send-button {
    background-color: #198754;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.key.backspace-button:hover,
.key.send-button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .key {
        font-size: 1em;
        padding: 10px;
    }

    input[type="text"] {
        font-size: 1.2em;
    }

    .send-button,
    .backspace-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
