<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./assets/css/style.css" />
        <link rel="stylesheet" href="./assets/css/teclado.css" />
        <title>Mario</title>
        <script src="./assets/js/jquery-3.7.1.min.js"></script>

        <style>
            .start-ground {
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: -0.8rem;
            }
        </style>
    </head>
    <body>
        <div class="start">
            <div class="logo-board">
                <h1 class="mb-4">Super Mario Runner</h1>
                <img src="./assets/images/logopng.png" class="logo" />
            </div>

            <p class="subtitle">Pressione qualquer tecla para continuar...</p>
            <img
                src="./assets/images/mario.gif"
                class="marioStart"
                alt="Mario correndo"
            />
            <div class="start-ground"></div>
        </div>

        <form action="../controller/ranking.php" method="POST"></form>

        <script>
            let contadorKey = 0;
            document.addEventListener("keydown", (event) => {
                window.location.href = "./cadastro.php";
            });
        </script>
        <script src="./assets/js/startScreen.js">
            <script src="./assets/js/teclado.js">
        </script>
    </body>
</html>
