.tecla-enviar {
    font-size: 0px;
    background-image: url(../imagens/enter.png);
    flex: 1;
}
.linha-teclado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecla {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 27px;
    margin: 20px;
    border: 1px solid #090909;
    cursor: pointer;
    text-align: center;
    height: 100px;
    width: 100px;
    color: rgb(245, 245, 245);
    background-color: #0e0e0e;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecla.selecionada {
    background-color: #202020;
    color: rgb(251, 255, 0);
    border: 1px solid whitesmoke;
    transition: 0.3s;
    height: 140px;
    width: 140px;
    margin: 0px;
    font-size: 7rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}
input{
    bottom: 20px;
    position: relative;
    width: 90%;
    height: 100px;
    font-size: 7rem;
    background-color: transparent;
    color: yellow;
    border: #0e0e0e;
    border-style: solid;
    padding: 10px;
    padding-bottom: 20px;
}

#pergunta{
    font-size: 6rem;
}
